.main{
display: flex;
justify-content: space-around;
padding: 20px;
background-color: rgb(12, 106, 12);
font-weight: bold;
color: white;
position: fixed;
width:100%;
height: 5em;
}
.logo img{
    width:7em;
}
.searchBar{
border-radius: 30px;
width: 30em;
height: 20px;
background-color: white;
display: flex;
justify-content: space-evenly;
padding: 10px;
margin: 10px;
}

.searchBar img{
    width: 2em;
    height: 2em;
}
.searchBar input{
    outline: none;
}
.findStore{   
    line-height: 0.5px;
    display: flex;    
    height: 4em;
    /* border: solid black; */
    object-fit: cover;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.findStore img{
    width: 2em;
    height: 2em;
    padding-top: 20px;
    align-self: flex-start;
    
}
.nav{
    display: flex;
    justify-content: space-evenly;
    color: darkgreen;
    font-weight: bold;
    padding: 10px;
    position: fixed;
    margin-top: 6em;
    width:100%;
    background-color: white;
}
.image img{
    width: 100%;
    height: 50em;
    position: absolute;
    z-index: -2;
    margin-top: 4em;

}
.image{
    display: flex;
}
.text{
    width:25%;
    margin-top: 16em;
    position:relative;
    z-index: -1;
    background-color: white;
    padding: 20px;
}
.text button{
    background-color: darkgreen;
    height: 3em;
    width: 10em;
    color: white;
    font-weight: bold; 
}
.links{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color:darkgreen;
    margin-top: 10em;
}
.dinnerSec img{
    height:40em;
    width: 100%;
}